body {
  background-color: rgb(212, 212, 212);
}

/*
table {
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  padding: 0px;
  background-color: white;
  border-spacing: 0px; 
}

tr {
  height: 1;
}
td {
  height: 8px;
  width: 8px;
  background-color: white;
}

td:hover {
    background-color: pink;
}

.white {
  background-color: white;
}
*/

#data {
  float: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#data button {
  border: #383838;
  border-style: solid;
  border-radius: 5px;
  background-color: #9ea7b7;
}

#colours button {
  border: none;
  background: transparent;
}
#colours {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /*background-color: rgb(126, 126, 126)*/
}